* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #24283b;
    color: #cfc9c2;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container p {
    font-size: 2rem;
    padding: 0.5rem;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
    user-select: none;
}

.container p span.cursor {
    display: inline-block;
    background-color: #cfc9c2;
    margin-left: 0.1rem;
    width: 2px;
    animation: blink 1s infinite;
}

.container p span.cursor.typing {
    animation: none;
}
  
@keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
}